.theme-switch-wrapper {
    float: right;
    padding: 0.4rem 1.5rem 0.4rem 0.7rem;
    border-right: 1px solid var(--border-color);
    width: 60px;

}

.theme-switch-wrapper input[type=checkbox] {
    display: none;
}

.theme-switch-wrapper input[type=checkbox] + label:before {
    font-family: 'FontAwesome', sans-serif;
    display: inline-block;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.3rem;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    text-transform: none !important;
    cursor: pointer;
    padding-left: 0.6rem;
    color: var(--header-link-color);
    content: "\f186";
    font-weight: 900;
}

.theme-switch-wrapper input[type=checkbox]:checked + label:before {
    content: "\f185";
}