stages:
  - render
  - build
  - scan
  - deploy
  - smoke

variables:
  DOMAIN: alexos.dev

include:
  - component: gitlab.com/alexos-dev/gitlab-ci-components/buildkit@~latest
    inputs:
      job-stage: build
      job-needs: ["render"]
      image-name: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alexos
      dockerfile: Dockerfile
  - component: gitlab.com/alexos-dev/gitlab-ci-components/security-scan@~latest
    inputs:
      job-stage: scan
      job-needs: ["buildkit-build-app"]
      image-names: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alexos
  - component: gitlab.com/alexos-dev/gitlab-ci-components/deploy-k8s@~latest
    inputs:
      job-stage: deploy
      job-needs: ["buildkit-build-app"]
      app-name: alexos
      namespace: alexos
      image-name: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alexos
      manifest-dir: k8s

render:
  stage: render
  image: al3xos/ci-tools:latest
  script:
    - ./scripts/render.sh
  artifacts:
    paths:
      - www/
    when: on_success
    expire_in: "1 day"

smoke:
  stage: smoke
  image: al3xos/ci-tools:latest
  needs:
    - deploy-k8s-app
  script:
    - ./scripts/smoke.sh
