stages:
  - render
  - release
  - scan
  - smoke

variables:
  IMAGE_NAME: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alexos
  NAMESPACE: alexos
  DOMAIN: alexos.dev

render:
  stage: render
  image: al3xos/ci-tools:latest
  script:
    - ./scripts/render.sh
  artifacts:
    paths:
      - www/
    when: on_success
    expire_in: "1 day"

test-build-deploy:
  stage: release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: al3xos/ci-tools:latest
  needs:
  - render
  script:
    - alexos-cli build --image-name=$IMAGE_NAME --gcr-login
    - alexos-cli deploy kubernetes --image-name=$IMAGE_NAME --namespace=$NAMESPACE

security-scan:
  stage: scan
  needs:
    - test-build-deploy
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: al3xos/ci-tools:latest
  script:
    - alexos-cli scan code
    - alexos-cli scan secrets
    - alexos-cli scan container --image-name=$IMAGE_NAME
    - alexos-cli scan iac
  allow_failure: true
  artifacts:
    when: on_failure
    paths:
      - "*-report.json"
    access: developer
    expire_in: "1 day"

smoke:
  stage: smoke
  image: al3xos/ci-tools:latest
  needs:
    - test-build-deploy
  script:
    - ./scripts/smoke.sh
