{{ $.Scratch.Set "shareNav" true }}

{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div class="main" id="body-inner">

	<article class="post">

		<header class="main-header">

			<div class="post-title">
				<h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
				{{ with .Description }}
				<p>{{ . }}</p>
				{{ end }}
			</div>
			
		</header>

		<section class="post-content">
			{{ .Content }}
		</section>

		{{ if .Params.contact }}
			<form name="contacts" id="contacts" action="#" method="post">
				<p>Your Name: <input type="text" name="name" placeholder="What is your name?" required data-validation-required-message="Please fill in your name" /></p>
				<p>Your Email: <input type="text" name="email_address" placeholder="What is your email address?"  required data-validation-required-message="Please fill in your email address" /></p>
				<p>Your Message:</p>
				<p><textarea name="message" rows="10" cols="60" placeholder="Your message goes here" required></textarea></p>
				<p><input type="submit" name="submit" value="Send Message" /></p>
				(+ some sort of captcha)
			</form>
			<script type="text/javascript">
				jQuery(document).ready(function (e) {
				  /* Contacts Form */
				  $(function () {
					$('#contacts').find('input,select,textarea').jqBootstrapValidation({
					  preventSubmit: true,
					  submitError: function ($form, event, errors) {
					  },
					  submitSuccess: function ($form, e) {
						e.preventDefault()
						var submitButton = $('input[type=submit]', $form)
						$.ajax({
						  type: 'POST',
						  url: '{{ .Site.Params.contactAPI }}',
						  data: $form.serialize(),
						  beforeSend: function (xhr, opts) {
							if ($('#_email', $form).val()) {
							  xhr.abort()
							} else {
							  submitButton.prop('value', 'Please Wait...')
							  submitButton.prop('disabled', 'disabled')
							}
						  }
						}).done(function (data) {
						  submitButton.prop('value', 'Thanks for your message!')
						  submitButton.prop('disabled', true)
						})
					  },
					  filter: function () {
						return $(this).is(':visible')
					  }
					})
				  })
				})
				$('#name').focus(function () {
				  $('#success').html('')
				})
			  </script>
		{{ end }}

	</article>

	{{ partial "footer.html" . }}
	
</div>


  

{{ partial "sidebar.html" . }}
{{ partial "foot.html" . }}