{{ $.Scratch.Set "shareNav" true }}

{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div class="main" id="body-inner">

	<article class="post">

		<header class="main-header">

			<div class="post-title">
				<h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
				{{ with .Description }}
				<p>{{ . }}</p>
				{{ end }}
			</div>
			
		</header>

		<section class="post-content">
			{{ .Content }}
		</section>

		{{ if .Params.contact }}
			{{ partial "contact.html" . }}
		{{ end }}

	</article>

	{{ partial "footer.html" . }}
	
</div>

{{ partial "sidebar.html" . }}
{{ partial "foot.html" . }}