<section class="panel-section">
  <div class="container">
    <div class="row">
      {{ range first 6 (where .Pages "Type" "posts") }}
      {{ $.Scratch.Set "title" (.Title | safeHTML) }}
      <div class="panel-container">
          <a href="{{ .Permalink | relLangURL | safeURL }}" class="panel-link draw meet">
              {{ with .Param "banner" }}
              <img class="panel-image" src="{{ . | safeURL }}" alt="{{ $.Scratch.Get "title" }}" />
              {{ else }}
              <img class="panel-image" src="/images/question-mark.png" alt="{{ $.Scratch.Get "title" }}" />
              {{ end }}
              <h3 class="panel-title">{{ safeHTML .Title }}</h3>
              <p class="panel-description">{{ safeHTML .Description | truncate 175 }}</p>
          </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>