<section class="share-links" id="share">

    <div class="share-close"><a class="far fa-times-circle" href="#close-share"></a></div>

    <h5>Share Links</h5>


    <a title="Share on Twitter" target="_blank"
        href="//twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via={{ .Site.Social.twitter }}">
        <div class="share-link draw meet">
            <i class="fab fa-twitter share-icon"></i>
            Twitter
        </div>
    </a>

    <a title="Share on Facebook" target="_blank"
        href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&amp;title={{ .Title }}">
        <div class="share-link draw meet">
            <i class="fab fa-facebook-square share-icon"></i>
            Facebook
        </div>
    </a>

    <a title="Share on LinkedIn" target="_blank"
        href="//www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title | htmlEscape  }}&source={{ .Site.Title }}&summary={{ .Description }}">
        <div class="share-link draw meet">
            <i class="fab fa-linkedin share-icon"></i>
            LinkedIn
        </div>
    </a>

    <a title="Post on Reddit" target="_blank" href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}">
        <div class="share-link draw meet">
            <i class="fab fa-reddit share-icon"></i>
            Reddit
        </div>
    </a>

    <a title="Save to Pocket" target="_blank" href="//getpocket.com/save?url={{ .Permalink }}&amp;&title={{ .Title }}">
        <div class="share-link draw meet">
            <i class="fab fa-get-pocket share-icon"></i>
            Pocket
        </div>
    </a>

    <a title="Email this link" target="_blank" href="mailto:?subject={{ .Title }}&amp;body={{ .Permalink }}">
        <div class="share-link draw meet">
            <i class="far fa-envelope share-icon"></i>
            Email
        </div>
    </a>

</section>