
/* Header Search */

/* 
#header .main {
    height: inherit;
    line-height: inherit;
    text-align: right;
}

    #header .main ul {
        height: inherit;
        line-height: inherit;
    }

        #header .main ul li {
            border-left: solid 1px rgba(160, 160, 160, 0.3);
            height: inherit;
            line-height: inherit;
            white-space: nowrap;
        }

            #header .main ul li > * {
                display: block;
                float: left;
            }

            #header .main ul li > a {
                text-decoration: none;
                border-bottom: 0;
                color: #aaaaaa;
                overflow: hidden;
                position: relative;
                text-indent: 4em;
                width: 4em;
                color: #333333;

                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";


                filter: alpha(opacity=35);

                opacity: 0.35;
            }

                #header .main ul li > a:before {
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    text-transform: none !important;
                }

                #header .main ul li > a:before {
                    display: block;
                    height: inherit;
                    left: 0;
                    line-height: inherit;
                    position: absolute;
                    text-align: center;
                    text-indent: 0;
                    top: 0;
                    width: inherit;
                }

#header form {
    margin: 0;
}

    #header form input {
        display: inline-block;
        height: 2.5em;
        position: relative;
        top: -2px;
        vertical-align: middle;
    }

#header #search {
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}

    #header #search input {
        color: #333333;
        width: 12em;
    }

    #header #search.visible {
        max-width: 12.5em;
        opacity: 1;
        padding: 0 0.5em 0 0;
    }

@media screen and (min-width: 980px) {

        #header .menu {
            display: none;
        }

    }

@media screen and (max-width: 980px) {

    #header .links {
        display: none;
    }

}

@media screen and (max-width: 736px) {

    #header {
        height: 2.75em;
        line-height: 2.75em;
    }

        #header h1 {
            padding: 0 0 0 1em;
        }

        #header .main .search {
            display: none;
        }

}

@media screen and (max-width: 320px) {
    #header h1 {
        min-width: 0;
        padding: 0 0 0 .5em;
    }
}


     */



/* @media screen and (max-width: 980px) {

            ul.actions.pagination {
                text-align: center;
            }

                ul.actions.pagination .next, ul.actions.pagination .previous {
                    min-width: 20em;
                }

        } */

        /* @media screen and (max-width: 736px) {

            ul.actions.pagination .next, ul.actions.pagination .previous {
                min-width: 18em;
            }

        } */

        /* @media screen and (max-width: 480px) {

            ul.actions {
                margin: 0 0 2em 0;
            }

                ul.actions li {
                    padding: 1em 0 0 0;
                    display: block;
                    text-align: center;
                    width: 100%;
                }

                    ul.actions li:first-child {
                        padding-top: 0;
                    }

                    ul.actions li > * {
                        width: 100%;
                        margin: 0 !important;
                    }

                ul.actions.small li {
                    padding: 0.5em 0 0 0;
                }

                    ul.actions.small li:first-child {
                        padding-top: 0;
                    }

        } */