
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,	acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, 
q, s, samp, small, strike, strong,	sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, 
tr, th, td, article, aside, canvas,	details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
    -ms-overflow-style: scrollbar;
    font-family: 'Exo 2', 'Arial', 'sans-serif';
    padding-top: 3.5em;
}

@-ms-viewport {
    width: device-width;
}

@media screen and (max-width: 480px) {
    html, body {
        min-width: 320px;
    }
}

body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

/*** Header ***/

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    height: 4em;
    left: 0;
    line-height: 4em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

    #header a {
        color: inherit;
        text-decoration: none;
    }

    #header ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

        #header ul li {
            display: inline-block;
            padding-left: 0;
        }

    #header h1 {
        white-space: nowrap;
        padding: 0 0 0 1.5em;
        margin: 18px 0 0 0;
        min-width: 11em;
        height: inherit;
        line-height: 1em;
    }

        #header h1 a {
            font-size: 0.7em;
        }

    #header h2 {
        font-size: inherit;
        height: inherit;
        line-height: inherit;
        padding: 0 0 0 1.5em;
        white-space: nowrap;
    }

        #header h2 a {
        font-size: 0.7em;
    }

    @media screen and (max-width: 736px) {
        #header h2 {
            padding: 0 0 0 1em;
        }
    }

    #header .links {
        -moz-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow: hidden;
        padding-left: 1.5em;
    }
    #header .links a {
        display: block;
        float: left;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 0.2em;
        margin-left: 20px;
        margin-top: 20px;
        padding-left: 20px;
        line-height: 2em;
        height: 2em;
        width: 9em;
    }
    #header .links a > i {
        font-size: 1.1em;
    }

#footer {
    padding: 1em 1em 1em 1em ;
    margin: 0;
    position: relative;
    overflow: auto;
}
#footer #copyright {
    display: block;
    float: left;
    font-size: 0.9em;
    width: 10em;  
    line-height: 3em;
}
#footer #powered {
    display: block;
    line-height: 1.5em;
    float: left;
    width: 53em;
    font-size: 0.9em;
    padding: 0 0 0 1em;
}


/*** Wrapper ***/

#wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    margin: 0 auto;
    max-width: 100%;
    opacity: 1;
    padding: 4.5em;
    width: 90em;
    overflow: hidden;
}

body.is-menu-visible #wrapper {
    opacity: 0.15;
}

@media screen and (max-width: 1680px) {
    #wrapper {
        padding: 3em;
    }
}

@media screen and (max-width: 980px) {
    #wrapper {
        display: block;
    }
}

@media screen and (max-width: 736px) {
    #wrapper {
        padding: 1.5em;
    }
}

/*** Main ***/

.main {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -ms-flex: 1;
    width: 100%;
}


/*** Sidebar ***/

#sidebar {
    margin-right: 3em;
    min-width: 18em;
    width: 22em;
}

#sidebar > * {
    margin: 3em 0 0 0;
    padding: 3em 0 0 0;
}

#sidebar > :first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

@media screen and (max-width: 980px) {
    #sidebar {
        margin: 3em 0 0 0;
        min-width: 0;
        padding: 3em 0 0 0;
        width: 100%;
    }
}

.icon {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.interact {
    list-style: none;
    margin-right: 10px;
    font-size: 1.3em;
    height: 2em;
    line-height: 1.5em;
    margin-top: 13px;
}
.search-menu {
    float: right;
    padding: 3px 10px 3px 20px;
}
.share-menu {
    float: right;
    padding: 3px 20px 3px 10px;
    border-right: 1px solid #ccc;
}

#header #search {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 12px;
    margin-right: 70px;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    z-index: 1000;
}
#header #search.visible {
    max-width: 12.5em;
    opacity: 1;
    padding: 0 0.5em 0 0;
}

#searchbox {
    display: inline-block;
    height: 2.5em;
    position: relative;
    top: -2px;
    vertical-align: middle;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(160, 160, 160, 0.7);
}
#header #search input {
    color: #333333;
    width: 18em;
}

input:focus {
    box-shadow: 0 0 5px rgba(160, 160, 160, 0.7);
}

/* Header Search */

/* 
#header .main {
    height: inherit;
    line-height: inherit;
    text-align: right;
}

    #header .main ul {
        height: inherit;
        line-height: inherit;
    }

        #header .main ul li {
            border-left: solid 1px rgba(160, 160, 160, 0.3);
            height: inherit;
            line-height: inherit;
            white-space: nowrap;
        }

            #header .main ul li > * {
                display: block;
                float: left;
            }

            #header .main ul li > a {
                text-decoration: none;
                border-bottom: 0;
                color: #aaaaaa;
                overflow: hidden;
                position: relative;
                text-indent: 4em;
                width: 4em;
                color: #333333;

                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";


                filter: alpha(opacity=35);

                opacity: 0.35;
            }

                #header .main ul li > a:before {
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    text-transform: none !important;
                }

                #header .main ul li > a:before {
                    display: block;
                    height: inherit;
                    left: 0;
                    line-height: inherit;
                    position: absolute;
                    text-align: center;
                    text-indent: 0;
                    top: 0;
                    width: inherit;
                }

#header form {
    margin: 0;
}

    #header form input {
        display: inline-block;
        height: 2.5em;
        position: relative;
        top: -2px;
        vertical-align: middle;
    }

#header #search {
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}

    #header #search input {
        color: #333333;
        width: 12em;
    }

    #header #search.visible {
        max-width: 12.5em;
        opacity: 1;
        padding: 0 0.5em 0 0;
    }

@media screen and (min-width: 980px) {

        #header .menu {
            display: none;
        }

    }

@media screen and (max-width: 980px) {

    #header .links {
        display: none;
    }

}

@media screen and (max-width: 736px) {

    #header {
        height: 2.75em;
        line-height: 2.75em;
    }

        #header h1 {
            padding: 0 0 0 1em;
        }

        #header .main .search {
            display: none;
        }

}

@media screen and (max-width: 320px) {
    #header h1 {
        min-width: 0;
        padding: 0 0 0 .5em;
    }
}


     */