/* 
01: https://coolors.co/1d2024-353b43-57cbcc-50514f-f25f5c
08: https://coolors.co/1A1A1C-363739-3D8AA6-706C61-F8F4E3
    05: https://coolors.co/1D2024-353B43-57CBCC-00635D-08A4BD (00635D is a nice green)
    06: https://coolors.co/1D2024-353B43-57CBCC-84828F-6A687A (6A687A nice alt to grey)
    07: https://coolors.co/1D2024-353B43-57CBCC-594E36-7E846B (594E36 antique-y feel)
09: https://coolors.co/1F1F21-131315-B3A683-C8C3BD-CEE0DC
10: https://coolors.co/0F0A0A-F4EFED-57CC8A-1A535C-4ECDC4
11: https://coolors.co/18121E-233237-984B43-EAC67A-000000
12: https://coolors.co/C5C1C0-0A1612-1A2930-F7CE3E-000000
15: https://coolors.co/1E1F26-283655-4D648D-D0E1F9-000000
16: https://coolors.co/756867-D5D6D2-353C3F-FF8D3F-000000
17: https://coolors.co/20232A-ACBEBE-F4F4EF-A01D26-000000
18: https://coolors.co/080706-EFEFEF-D1B280-594D46-000000
19: https://coolors.co/DDDEDE-232122-A5C05B-7BA4A8-000000
22: https://coolors.co/0B0C10-1F2833-C5C6C7-66FCF1-45A29E
23: https://coolors.co/2C3531-116466-D9B08C-FFCB9A-D1E8E2
24: https://coolors.co/161617-090A0A-151516-000000-000000
25: https://coolors.co/080708-C4C3C4-7B7C82-4B4A4B-7D8284
26: https://coolors.co/feda6a-d4d4dc-393f4d-1d1e22-000000
27: https://coolors.co/393939-FF5A09-ec7f37-be4f0c-000000
28: https://coolors.co/262626-3f3f3f-f5f5f5-dcdcdc-000000
*/

/* 01 */
/* :root {
    --bg-color: #353B43;
    --highlight-color: #57CBCC;
    --shade-color: #50514F;
    --post-color: #1D2024;
    --font-color: #e6e6e6;
    --line-color: #57CBCC;
    --link-color: #F25F5C;
} */

/* 08 */
/* :root {
    --bg-color: #363739;
    --highlight-color: #3D8AA6;
    --shade-color: #706C61;
    --post-color: #1A1A1C;
    --font-color: #F8F4E3;
    --line-color: #3D8AA6;
    --link-color: #F25F5C;
} */

/* 09 */
/* backgrounds/borders are nice */
/* :root {
    --bg-color: #1F1F21;
    --highlight-color: #C8C3BD;
    --shade-color: #B3A683;
    --post-color: #131315;
    --font-color: #e6e6e6;
    --line-color: #C8C3BD;
    --link-color: #F25F5C;
} */

/* 10 */
/* Very nice background/lines/font, shade does not work */
/* :root {
    --bg-color: #1F1F21;
    --highlight-color: #57CC8A;
    --shade-color: #4ECDC4;
    --post-color: #0F0A0A;
    --font-color: #F4EFED;
    --line-color: #57CC8A;
    --link-color: #F25F5C;
} */

/* 11 */
/* Nice industrial feel, again shade is letting down */
/* :root {
    --bg-color: #233237;
    --highlight-color: #EAC67A;
    --shade-color: #0F0A0A;
    --post-color: #000000;
    --font-color: #F4EFED;
    --line-color: #EAC67A;
    --link-color: #F25F5C;
} */

/* 12 */
/* Again the yellow/black is working nicely */
/* :root {
    --bg-color: #0A1612;
    --highlight-color: #F7CE3E;
    --shade-color: #1A2930;
    --post-color: #000000;
    --font-color: #C5C1C0;
    --line-color: #EAC67A;
    --link-color: #F25F5C;
} */

/* 15 */
/* Interesting blue/black glow effect here */
/* :root {
    --bg-color: #1E1F26;
    --highlight-color: #4D648D;
    --line-color: #4D648D;
    --shade-color: #283655;
    --post-color: #000000;
    --font-color: #D0E1F9;
    --link-color: #F25F5C;
} */

/* 16 */
/* Black / orange is interesting. Needs darker background/shade */
/* :root {
    --bg-color: #353C3F;
    --highlight-color: #FF8D3F;
    --line-color: #FF8D3F;
    --shade-color: #756867;
    --post-color: #000000;
    --font-color: #D5D6D2;
    --link-color: #F25F5C;
} */

/* 17 */
/* Nice, techie, shade is wrong though */
/* :root {
    --bg-color: #20232A;
    --highlight-color: #A01D26;
    --line-color: #A01D26;
    --shade-color: #ACBEBE;
    --post-color: #000000;
    --font-color: #F4F4EF;
    --link-color: #F25F5C;
} */

/* 18 */
/* Antique-y, nice bg/article combo */
/* :root {
    --bg-color: #080706;
    --highlight-color: #D1B280;
    --line-color: #D1B280;
    --shade-color: #594D46;
    --post-color: #000000;
    --font-color: #EFEFEF;
    --link-color: #F25F5C;
} */

/* 19 */
/* Bit of a nature vibe, blue doesn't work as shade though */
/* :root {
    --bg-color: #232122;
    --highlight-color: #A5C05B;
    --line-color: #A5C05B;
    --shade-color: #7BA4A8;
    --post-color: #000000;
    --font-color: #DDDEDE;
    --link-color: #F25F5C;
} */

/* 22 */
/* Nice combo - again shade too bright */
/* :root {
    --bg-color: #1F2833;
    --highlight-color: #66FCF1;
    --line-color: #66FCF1;
    --shade-color: #45A29E;
    --post-color: #0B0C10;
    --font-color: #C5C6C7;
    --link-color: #F25F5C;
} */

/* 23 */
/* Steampunk-y */
:root {
    --bg-color: #116466;
    --highlight-color: #D9B08C;
    --line-color: #D9B08C;
    --shade-color: #2C3531;
    --post-color: #0B0C10;
    --font-color: #D1E8E2;
    --link-color: #F25F5C;
}

/* 24 */
/* Interesting shades of grey */
:root {
    --bg-color: #090A0A;
    --highlight-color: #161617;
    --line-color: #161617;
    --shade-color: #151516;
    --post-color: #000000;
    --font-color: #D1E8E2;
    --link-color: #F25F5C;
}